@model IEnumerable<FirstProjectMarketing.Models.Firstcartproduct>

@{
    ViewData["Title"] = "MyCart";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<html>
<head>
    <meta name="viewport"
          content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <link rel="icon" href="img/favicon.png" type="image/png" />
    <title>Eiser ecommerce</title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="~/assetsHome/css/bootstrap.css" />
    <link rel="stylesheet" href="~/assetsHome/vendors/linericon/style.css" />
    <link rel="stylesheet" href="~/assetsHome/css/font-awesome.min.css" />
    <link rel="stylesheet" href="~/assetsHome/css/themify-icons.css" />
    <link rel="stylesheet" href="~/assetsHome/vendors/owl-carousel/owl.carousel.min.css" />
    <link rel="stylesheet" href="~/assetsHome/vendors/lightbox/simpleLightbox.css" />
    <link rel="stylesheet" href="~/assetsHome/vendors/nice-select/css/nice-select.css" />
    <link rel="stylesheet" href="~/assetsHome/vendors/animate-css/animate.css" />
    <link rel="stylesheet" href="~/assetsHome/vendors/jquery-ui/jquery-ui.css" />
    <!-- main css -->
    <link rel="stylesheet" href="~/assetsHome/css/style.css" />
    <link rel="stylesheet" href="~/assetsHome/css/responsive.css" />

    <link rel="stylesheet" href="~/assetsCart/css/style.css" type="text/css">
</head>

<body style="overflow-x:hidden">
    <section class="" style="background-image: url(/Images/ecommerce-2140604__340.jpg); background-repeat:no-repeat; background-size:100% 100%; background-position:center">
        <div class="" style="height:450px!important">
            <div style="height:130px; background-color:#6e6a6d8f; width:100%">
            </div>
        </div>
    </section>
    <section class="shopping-cart spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="cart-table">
                        <table>
                            <thead style="background-color:#5350a2ad">
                                <tr>
                                    <th>Image</th>
                                    <th class="p-name">Product Name</th>
                                    <th>Price</th>
                                    <th>Quantity</th>
                                    <th>Total</th>
                                    <th><i class="ti-close"></i></th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model)
                                {
                                    <tr>
                                        <td class="cart-pic first-row"><img src="~/Images/imgProduct/@item.Product.ProductImage1" style="width:75px; height:75px" alt=""></td>
                                        <td class="cart-title first-row">
                                            <h5>@item.Product.ProductName</h5>
                                        </td>
                                        <td class="p-price first-row">$@item.Product.ProductPrice</td>
                                        <td class="qua-col first-row">

                                            <div class="quantity">
                                                <div class="pro-qty">
                                                    @*onclick="FormSubmit(@item.ProductId, document.getElementById('qty-@item.ProductId').value)"*@
                                                    <input type="text" id="@item.ProductId" value="@item.CartQuantity" readonly="readonly">

                                                </div>
                                            </div>

                                        </td>
                                        <td class="total-price first-row" id="top-@item.ProductId">$@(item.CartQuantity * item.Product.ProductPrice)</td>
                                        <td class="close-td first-row">
                                            <a asp-action="DeleteItemFromCart" asp-controller="Cart" asp-route-id="@item.ProductId">
                                                <i class="ti-close"></i>
                                            </a>
                                        </td>
                                    </tr>
                                }


                            </tbody>
                        </table>
                    </div>
                    <div class="row">
                        <div class="col-lg-4">
                            <div class="cart-buttons">
                                <a asp-action="AllProduct" asp-controller="ShopProduct" class="main_btn" style="width:100%; margin-top:15px">Continue shopping</a>
                                @*<a href="#" class="main_btn" style="width:100%; margin-top:15px">Update cart</a>*@
                            </div>
                            @*<div class="discount-coupon">
                                <h6>Discount Codes</h6>
                                <form action="#" class="coupon-form">
                                    <input type="text" placeholder="Enter your codes">
                                    <button type="submit" class="site-btn coupon-btn">Apply</button>
                                </form>
                            </div>*@
                        </div>
                        <div class="col-lg-4 offset-lg-4">
                            <div class="proceed-checkout">
                                <ul>
                                    <li class="subtotal">Subtotal <span type="text" id="stotal">$@ViewBag.SubTotal</span></li>
                                    <li class="cart-total">Total <span id="total">$@ViewBag.SubTotal</span></li>
                                </ul>
                                <a asp-action="Checkout" asp-controller="Cart" class="main_btn" style="width:100%; margin-top:15px">PROCEED TO CHECK OUT</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Shopping Cart Section End -->
    <!-- Partner Logo Section Begin -->
    @*<div class="partner-logo">
        <div class="container">
            <div class="logo-carousel owl-carousel">
                <div class="logo-item">
                    <div class="tablecell-inner">
                        <img src="img/logo-carousel/logo-1.png" alt="">
                    </div>
                </div>
                <div class="logo-item">
                    <div class="tablecell-inner">
                        <img src="img/logo-carousel/logo-2.png" alt="">
                    </div>
                </div>
                <div class="logo-item">
                    <div class="tablecell-inner">
                        <img src="img/logo-carousel/logo-3.png" alt="">
                    </div>
                </div>
                <div class="logo-item">
                    <div class="tablecell-inner">
                        <img src="img/logo-carousel/logo-4.png" alt="">
                    </div>
                </div>
                <div class="logo-item">
                    <div class="tablecell-inner">
                        <img src="img/logo-carousel/logo-5.png" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>*@
    <!-- Partner Logo Section End -->
    <!-- Js Plugins -->
    <script src="~/assetsCart/js/jquery-3.3.1.min.js"></script>
    <script src="~/assetsCart/js/bootstrap.min.js"></script>
    <script src="~/assetsCart/js/jquery-ui.min.js"></script>
    <script src="~/assetsCart/js/jquery.countdown.min.js"></script>
    <script src="~/assetsCart/js/jquery.nice-select.min.js"></script>
    <script src="~/assetsCart/js/jquery.zoom.min.js"></script>
    <script src="~/assetsCart/js/jquery.dd.min.js"></script>
    <script src="~/assetsCart/js/jquery.slicknav.js"></script>
    <script src="~/assetsCart/js/owl.carousel.min.js"></script>
    <script src="~/assetsCart/js/main.js"></script>

    <script>
         //Quantity change
            //--------------------- */

            var proQty = $('.pro-qty');
            proQty.prepend('<span class="dec qtybtn">-</span>');
            proQty.append('<span class="inc qtybtn">+</span>');

            proQty.on('click', '.qtybtn', function () {
                var $button = $(this);
                var oldValue = $button.parent().find('input').val();
                var ProId = $button.parent().find('input').attr('id');
                if ($button.hasClass('inc')) {
                    var newVal = parseFloat(oldValue) + 1;
                    FormSubmit(ProId , newVal);
                } else {
                    // Don't allow decrementing below zero
                    if (oldValue > 0) {
                        var newVal = parseFloat(oldValue) - 1;
                        FormSubmit(ProId , newVal);


                    } else {
                        newVal = 0;
                    }
                }
                $button.parent().find('input').val(newVal);
            });

        function FormSubmit(id , q) {
            var addtc = {};
            var qt = $("#qty").val();
            addtc.ProductId = id;
            addtc.ProductQuantity = q;
            console.log(addtc)
            $.ajax({
                type: "POST",
                url: `/Cart/IncDec?id=${addtc.ProductId}&qti=${addtc.ProductQuantity}`,
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: function (amm) {
                    if (amm != null) {
                       console.log(amm)
                       document.getElementById('stotal').innerHTML = "$" + amm[0];
                       document.getElementById('total').innerHTML = "$" + amm[0];
                       document.getElementById(`top-${id}`).innerHTML = "$" + amm[1];

                    }

                }
            });

        }
    </script>

</body>
</html>
